* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #fdfefe;
    color: #333;
}

/* NAV */
.top-nav {
    background: linear-gradient(135deg, #7b0000, #d9534f);
    padding: 20px;
    text-align: center;
}

.brand {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.top-nav nav a {
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 18px;
    border-radius: 20px;
    background: rgba(255,255,255,0.25);
    color: white;
    font-weight: 600;
}

.top-nav nav a.active,
.top-nav nav a:hover {
    background: white;
    color: #7b0000;
}

/* ALERT */
.alert {
    background: #ffe5e5;
    color: #7b0000;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

/* MAIN */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* BIG BUTTON */
.emergency-button-section {
    text-align: center;
    margin-bottom: 40px;
}

.emergency-btn {
    background: #d9534f;
    color: white;
    font-size: 22px;
    padding: 25px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(217,83,79,0.6); }
    70% { box-shadow: 0 0 0 25px rgba(217,83,79,0); }
    100% { box-shadow: 0 0 0 0 rgba(217,83,79,0); }
}

/* CARD */
.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #f2cccc;
    margin-bottom: 30px;
}

.card h2 {
    color: #7b0000;
    margin-bottom: 15px;
}

/* NUMBERS */
.numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-size: 16px;
}

/* MAP */
#map {
    height: 320px;
    border-radius: 15px;
}

/* DISCLAIMER */
.disclaimer {
    text-align: center;
    font-size: 13px;
    color: #777;
}
#hospitalList,
#pharmacyList {
    list-style: none;
    margin-top: 10px;
}

#hospitalList li,
#pharmacyList li {
    background: #fdf1f1;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 10px;
    border-left: 5px solid #d9534f;
    font-weight: 600;
}
